html, body, main, div, button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  padding: 0.75rem;
  background-color: darkgray;

  height: 100vh;
  display: flex;
  justify-content: center;
}
body::after{
  content: "";
  background: url('../img/backgroundMobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

#main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 35%);
}
  #container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
    .player {
      border-radius: 50%;
      width: 28px;
      height: 28px;
    }

    #Preto{
      background-color: #0000be;
      background-image: url(/assets/img/venom.gif);
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
      animation: go-back 1s;
    }
    #Vermelho {
      background-color: red;
      background-image: url(/assets/img/spiderman.gif);
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
      animation: go-back 1s;
    }

    @keyframes go-back {
      from {
        transform: translateY(-100px);
      }
      to {
        transform: translateY(0);
      }
    } 

    #Timer {
      letter-spacing: 3px;
      font-weight: bold;
      
    }

  #box {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .line {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      width: 30px;
      height: 100%;
      padding: 0 15px;

      border: 2px solid black;
      border-top: none;
      border-left: none;

      cursor: pointer;
    }
    .line:nth-child(1) {
      border-left: 2px solid black;
    }

  #container2 {
    height: 160px;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
    #placar {
      order: 2;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 75px;

      border-radius: 10px;
      background-color: rgb(51, 51, 51);
      color: #fff;

      font-family: Arial, Helvetica, sans-serif;
    }

    #buttonReset {
      width: 100px;
      border-radius: 10px;
      padding: 0.7rem 0;

      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      background-color: #fff;
      cursor: pointer;
    }

    #buttonReset:hover {
      background-color: rgb(58, 57, 57);
      color: #fff;
    }

    .startScreen{
      position: absolute;
      top:0;
      bottom:0;
      right: 0;
      left:0;
      color: white;
      background-image: url("../img/teste.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }
    
    .startScreen__body{
      margin: 0 auto;
      padding: 10px;
      margin-top: 70px;
      color: white;
      letter-spacing: 5px;
      font-weight: normal;
      font-size: 40px;
      background-size: cover;
      text-align: center;
      text-shadow: 5px 6px 1px black;
     
    }
    
    .startScreen__title{
      background-color: rgba(87, 83, 84, 0.671);
      font-family: 'Permanent Marker', cursive;
      font-weight: normal;
      font-size:50px;
      width: 280px;
      height: 100px;
      margin: 0 auto;
      padding-top:30px;
      border-radius: 40px;
      box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.692);
    }
    
    .startScreen__button{
      font-family: 'Permanent Marker', cursive;
      display: flex;
      margin:0 auto;
      color: white;
      background-color: rgba(26, 26, 78, 0.274);
      justify-content: center;
      width: 150px;
      height: 40px;
      margin-top: 250px;
      font-size: 20px;
      border-radius: 30px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.692);
    }
    
    .startScreen__button:hover{
      background-color: red
    }
    
    .startScreen__button:active{
      background-color: #c0392b
    }
    
    .developer{
      position: absolute;
      text-align: center;
      align-items: center;
      right: 1rem;
      top: -0.7rem;
      font-size: 2rem;
      
    }
    
    .developer__button{
      font-size: 10px;
      width: 75px ;
      border-radius: 8px;
      color: white;
      background-color: rgb(190, 0, 0);
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.692);
    }
    
    ul{
      list-style: none;
    }
    
    .developer__list{
      position: absolute;
      font-family: 'Shadows Into Light', cursive;
      letter-spacing: 2px;
      left: -38px;
      font-size: 7px;
      text-align: left;
      margin-top: -11px;
      font-weight: bold;
    }
    
    .hidden{
      display: none;
    }

    #win{
      position: absolute;
      display: none;
      top:0;
      bottom:0;
      right: 0;
      left:0;
      background: rgba(0, 0, 0, 0.50) url("../img/backVenom.png");
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 1;
    }
    div#win>div#win_animate{
      margin: 0 auto;
      height: 250px;
      background-image: url("../img/venomWin.gif");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      margin-top: 100px;
    }
@media screen and (min-width: 768px) {
  body::after{
    content: "";
    background: url('../img/backgroundDesktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
  }
  #main {
    max-width: 500px;
  }
    .player {
      width: 35px;
      height: 35px;
    }
    #box {
      height: 215px;
    }
      .line {
        width: 40px;
        height: 100%;
      }

    #placar {
      width: 65%;
    }
    #buttonReset {
      width: 130px;
    }
}

@media screen and (min-width: 1024px) {
  body{
    align-items: center;
  }
  #main{
    height: 95%;
  }
    #container2 {
      margin-top: 4rem;
    }
}

@media screen and (min-width: 1440px) {
  #main{
    height: 75%;
  }
}