@import url('http://fonts.cdnfonts.com/css/comix-loud');

html, body, main, div, button, h1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.hidden{
  display: none;
}

body {
  padding: 0.75rem;
  background-color: darkgray;

  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

body::after{
  content: "";
  background: url('../img/backgroundMobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

.startScreen{
  position: absolute;
  top:0;
  bottom:0;
  right: 0;
  left:0;
  color: white;
  background-image: url("../img/s.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

  .startScreen__body{
    margin: 0 auto;
    padding: 10px;
    margin-top: 70px;
    color: white;
    letter-spacing: 5px;
    font-weight: normal;
    font-size: 40px;
    background-size: cover;
    text-align: center;
    text-shadow: 5px 6px 1px black;
  
  }

    .startScreen__title{
      font-family: 'Comix Loud', sans-serif;
      font-weight: normal;
      font-size:30px;
      background: rgb(204, 0, 0);
      line-height: 1.8;
      width: 280px;
      height: 170px;
      margin: 0 auto;
      padding-top: 45px;
      border-radius: 40px;
      box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.692);
    }
    


.startScreen__button{
  font-family: 'Permanent Marker', cursive;
  display: flex;
  margin:0 auto;
  color: white;
  justify-content: center;
  width: 150px;
  height: 40px;
  margin-top: 140px;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.692);
  animation: flash 1s infinite;
}
@keyframes flash {
  0%{
    background-color: rgba(26, 26, 78, 0.904);
  }
  50%{
    background-color: rgba(145, 8, 8, 0.904);
  }
  100%{
    background-color: rgba(26, 26, 78, 0.904);
  }
}

.startScreen__button:hover{
  background-color: red
}

.startScreen__button:active{
  background-color: #c0392b
}

.developer{
  position: absolute;
  text-align: center;
  align-items: center;
  right: 1rem;
  top: -0.7rem;
  font-size: 2rem;
  
}

  .developer__button{
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1px;
    font-size: 10px;
    width: 75px ;
    border-radius: 8px;
    color: white;
    background-color: rgb(190, 0, 0);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.692);
  }

  .developer__list{
    position: absolute;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
    left: -38px;
    font-size: 7px;
    text-align: left;
    margin-top: -11px;
    font-weight: bold;
  }
    ul{
      list-style: none;
    }

.selectScreen{
  position: absolute;
  top:0;
  bottom:0;
  right: 0;
  left:0;
  color: white;
  background:black url("../img/select.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  letter-spacing: 1px;
}

  .selectScreen__title{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
    margin-top: 50px;
    text-shadow: 2px 5px 2px black;
    font-family: 'Comix Loud', sans-serif;
    font-size: 15px;
  }

  .selectScreen__container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background:red ;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.692);
    transition: background 0.05s linear;
    transition: all .05s linear;
  }

    .selectScreen__character{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Comix Loud', sans-serif;
      font-size: 7px;
      background:blue ;
      margin-right: 13px;
      margin-left: 13px;
      width: 150px;
      min-width: 150px;
      border-radius: 10px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.692);
      transition: background 0.05s linear;
      transition: all .05s linear;

    }

    .selectScreen__character:hover{
      background: gray;
    }

    .selectScreen__character:active{
      background: darkred;
    }
      .selectScreen__spider{
        display: flex;
        width: 120px;

      }
      .selectScreen__venom{
        width: 140px;
      }

.win{
  position: absolute;
  top:0;
  bottom:0;
  right: 0;
  left:0;
}
#winSpiderman{
  background: rgba(0, 0, 0, 0.50) url("../img/backSpiderman.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
  animation: go-left 1s;
}

#winVenom{
  background: rgba(0, 0, 0, 0.50) url("../img/backVenom.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
  animation: go-back 1s;
}

#draw{
  position: absolute;
  top:0;
  bottom:0;
  right: 0;
  left:0;
  background: rgba(0, 0, 0, 0.50) url("../img/backEmpate.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
  animation: go-right 2s;
}
  .win_animate{
    height: 200px;
    margin: 30% 0 20%;
    
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: center;
  }

  #spiderman_animate{
    background-image: url("../img/spidermanWin.gif");
    animation: go-left 3s;
  }

  #venom_animate{
    background-image: url("../img/venomWin.gif");
    animation: go-back 3s;
  }

  #draw_animate{
    height: 200px;
    background-image: url("../img/empate.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 30% 0 20%;
    animation: go-right 3s;
  }

  .div_message{
    text-align: center;
  }
    .message{
      font-family: 'Comix Loud', sans-serif;
      margin-top: 25%;
      font-size: 18px;
      letter-spacing: 1px;
      text-shadow: 2px 6px 1px black;
      color: #fff;
      margin-bottom: 2rem;
    }
    #buttonReset {
      width: 100px;
      border-radius: 10px;
      padding: 0.7rem 0;

      font-size: 1rem;
      text-transform: uppercase;
      background: linear-gradient(180deg, rgba(0,0,139,1) 38%, rgba(0,0,139,0.7035189075630253) 63%, rgba(0,0,139,1) 100%);
      color: #fff;
      cursor: pointer;
    }

    #buttonReset:hover {
      background: linear-gradient(180deg, rgba(255,0,0,1) 38%, rgba(255,0,0,0.7) 63%, rgba(255,0,0,1) 100%);
      color: #fff;
    }

@keyframes go-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateY(0);
  }
} 
@keyframes go-right {
  from {
    transform: translateX(250%);
  }
  to {
    transform: translateY(0);
  }
}

#main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 35%);
}
  #container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
    .player {
      border-radius: 50%;
      width: 28px;
      height: 28px;
      margin-top: 1px;
      margin-bottom: 1px;
    }

    #Preto{
      background-color: #0000be;
      background-image: url('../img/venom.gif');
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
      animation: go-back 1s;
    }
    #Vermelho {
      background-color: red;
      background-image: url('../img/spiderman.gif');
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center;
      animation: go-back 1s;
    }

    @keyframes go-back {
      from {
        transform: translateY(-100px);
      }
      to {
        transform: translateY(0);
      }
    } 

    #Timer {
      letter-spacing: 3px;
      font-weight: bold;
      color: rgb(94, 38, 38);
      font-size: 22px;
      text-align: center;
      font-family: 'Permanent Marker', cursive;
    }

  #box {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    background: rgba(255, 255, 255, 0.473) url(../img/backJogo.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #box:after{
    content: "";
    position: absolute;
    border-left: 0px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 180px solid rgba(0, 0, 255, 0.37);
    border-radius: 0px 20px 20px 0px;
    width: 5px;
    bottom: 0;
    right: -12px;
  }
  #box:before{
    content: "";
    position: absolute;
    border-left: 0px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 180px solid rgba(0, 0, 255, 0.37);
    border-radius: 20px 0px 0px 20px;
    width: 5px;
    bottom: 0;
    left: -12px;
  }

    .line {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      width: 30px;
      height: 100%;
      padding: 0 15px;

      border: 0;

      cursor: pointer;
    }

  #container2 {
    height: 160px;
    width: 60%;
    padding: 0 1rem;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-around;
  }
    #placar {
      order: 2;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 60px;

      border-radius: 50px;
      background-color: rgba(0, 0, 0, 0.8);
      color: rgba(158, 185, 60, 0.80);
      
      font-family: 'Permanent Marker', cursive;
      font-size: 18px;
    }

    #placar:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      background: rgba(255, 255, 255, 0);
      border-left: 0px solid transparent;
      border-right: 30px solid transparent;
      border-top: 20px solid rgba(0, 0, 0, 0.8);
      bottom: -16px;
      left: 10%;
    }
    
@media screen and (min-width: 768px) {
  body:after{
    background: url('../img/backgroundDesktop.jpg');
    background-size: cover;
  }

  .startScreen{
    background-image: url("../img/galaxy2.jpg");
  }

  .developer{
    top: -0.3rem;
  }
  
    .developer__button{
      font-size: 15px;
      width: 120px ;
    }
  
    .developer__list{
      font-size: 15px;
    }

  .selectScreen{
    background: black url("../img/selectGalaxy.png");
    background-size: cover;
  }

    .selectScreen__title{
      font-size: 25px;
    }

    .selectScreen__container{
      margin: 0 auto;
      width: 550px;
      padding: 60px;
    }

      .selectScreen__character{
        text-shadow: 2px 3px 2px black;
        margin-right: 25px;
        margin-left: 25px;
        width: 160px;
        min-width: 160px;
      }

      .selectScreen__character:hover{
        background: gray;
      }

      .selectScreen__character:active{
        background: darkred;
      }

  #winSpiderman{
    background-position: center;
    background-size: 100% 65%;
    animation: go-up 2s;
  }
  #winVenom{
    background-position: center;
    background-size: 100% 65%;
    animation: go-up 2s;
  }
  #draw{
    background-position: center;
    background-size: 100% 65%;
    animation: go-up 2s;
  }

    #spiderman_animate{
      background-size: 35%;
      margin: 23% 0 5%;
      animation: growth 8s;
    }
    #venom_animate{
      background-size: 35%;
      margin: 23% 0 5%;
      animation: growth 8s;
    }
    #draw_animate{
      margin: 23% 0 5%;
      animation: growth 8s;
    }

  @keyframes go-up {
    from {
      transform: translateY(100vh);
    }
    to {
      transform: translateY(0);
    }
  } 
  @keyframes growth {
    from {
      transform: scale(0.1);
    }
    to {
      transform: scale(1);
    }
  } 

  .message{
    margin-top: 7%;
  }
  #main {
    max-width: 500px;
  }
    .player {
      width: 38px;
      height: 38px;
      margin-top: 1px;
      margin-bottom: 1px;
    }
    #box {    
      height: 239px;
    }
    #box:after{
      border-bottom: 239px solid rgba(0, 0, 255, 0.37);
    }
    #box:before{
      border-bottom: 239px solid rgba(0, 0, 255, 0.37);
    }
      .line {
        width: 40px;
        height: 100%;
      }

    #placar {
      width: 65%;
    }
    #buttonReset {
      width: 130px;
    }
}

@media screen and (min-width: 1024px) {
  body{
    align-items: center;
  }
    #spiderman_animate{
      margin: 13% 0 10%;
      background-size: 32%;
    }
    #venom_animate{
      background-size: 20%;
      margin: 13% 0 10%;
    }
    #draw_animate{
      margin: 15% 0 7%;
    }

  #main{
    height: 95%;
  }
    #box {    
      height: 240px;
    }
    #box:after{
      border-bottom: 240px solid rgba(0, 0, 255, 0.37);
    }
    #box:before{
      border-bottom: 240px solid rgba(0, 0, 255, 0.37);
    }
    #container2 {
      margin-top: 4rem;
    }
}

@media screen and (min-width: 1440px) {
  #spiderman_animate{
    background-size: 30%;
  }
  #venom_animate{
    background-size: 20%;
    margin: 25% 0 10%;
  }
  #main{
    height: 75%;
  }
}